html, body {
    height: 100%;
}
body {
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#bacccc));
    background: -o-linear-gradient(top, #f1f1f1, #bacccc);
    background: linear-gradient(to bottom, #f1f1f1, #bacccc);
    font-size: 20px;
    color: #1c403e;
    font-family: 'Montserrat', sans-serif;
}
header {
    padding: 40px 20px;
    //background-color: #f2e4da;
    &.anim1 {
        svg {
            height: 200px;
            text {
                font-family: Lora;
                letter-spacing: 10px;
                stroke: #e7a929;
                font-size: 150px;
                font-weight: 700;
                stroke-width: 3;
                animation: textAnimate 5s infinite alternate;
            }
        }
    }
}

.countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 782px;
    margin: 40px auto;
    .item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
        text-align: center;
        &:not(:last-child) {
            position: relative;
            &:after {
                content: ':';
                display: block;
                font-size: 40px;
                font-weight: bold;
                color: #a4a8ab;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                right: -6px;
            }
        }
        .content {
            margin: 0 20px;
            box-shadow: 0 0px 15px rgba(0,0,0,0.2);
            padding: 20px 0;
        }
        .number {
            color: #1c403e;
            font-size: 40px;
            font-weight: 700;
            line-height: 1;
        }
        .text {
            color: #1c403e;
            font-size: 13px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.cta-wrap {
    margin-top: 100px;
    text-align: center;
    .btn {
        min-width: 300px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        background-image: -webkit-linear-gradient(left, transparent 50%, #759796 50%);
        background-image: linear-gradient(to right, transparent 50%, #759796 50%);
        background-color: #759796;
        background-size: 200% 100%;
        background-position: right bottom;
        border: 1px solid #759796;
        font-weight: bold;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
            background-position: left bottom;
            background-color: transparent;
            color: #759796;
            box-shadow: none;
        }
    }
}

@media (min-width: 769px) {
    .countdown {
        .item {
            .number {
                font-size: 80px;
            }
            .text {
                font-size: 16px;
            }
        }
    }
}

@keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill: #1c403e;
    }
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
}
